* {
	margin: 0;
	padding: 0;
	font-family: Poppins, "sans-serif";
}

body {
	overflow: hidden;
	background-color: #afaeae;
}

ul {
	list-style: none;
}

li {
	text-align: center;
	justify-content: center;
}

h1 {
	color: white;
	font-weight: 500;
	font-size: 30px;
	margin-left: 10px;
}

.ulList {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.liList {
	position: relative;
}

.liList a {
	color: white;
	text-decoration: none;
	margin: 30px;
	transition: ease 0.3s;
}

.liList a:hover {
	color: aqua;
}


.navBar {
	background-color: #1a1a1a;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
}

.containerImg {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 27px;
	/* Set a height for the container */
	margin-right: 10px;
}

.userImg {
	width: 40px;
	margin-right: 10px;
}

button {
	padding: 5px 10px;
	margin-right: 10px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	transition: ease 0.3s;
}

button:hover {
	background-color: #afaeae;
}
/* dropdown menu style */
.dropdown-menu {
	display: none;
  }
  .navBar .ulList .liList:hover .dropdown-menu {
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #333;
  }
  .navBar .ulList li:hover .dropdown-menu ul {
	display: block;
	margin: 10px;
  }
  .navBar ul li:hover .dropdown-menu ul li {
	width: 150px;
	padding: 10px;
  }
  .dropdown-menu-1 {
	display: none;
	transition: ease 0.6s;
  }
  .dropdown-menu ul li:hover .dropdown-menu-1 {
	display: block;
	position: absolute;
	width: 200px;
	left: 195px;
	top:50px;
	background-color: #333;
  }

