<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat here</title>
    <link rel="stylesheet" href="/static/CSS/Chat.css" />
    <link rel="icon" href="/static/images/logo-figma.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body>
    <!-- chat area whole block -->
    <div class="wrapper">
      <!-- chat area -->
      <section class="chat-area">
        <header>
          <img src="/static/images/logo-figma.png" alt="" />
          <div class="details">
            <span>ChatBot</span>
            <p>Active Now</p>
          </div>
        </header>

        <!-- chatbox bot and user -->

        <div class="chat-box" id="chat_">
          <!-- bot message -->
          <div class="chat incoming">
            <img src="/static/images/logo-figma.png" alt="" />
            <div class="details">
              <p id="bot-hello-msg">Hey How can i help you?</p>
            </div>
          </div>
        </div>

        <!-- this script is for the buttons -->

        <div class="msg-quick-reply">
          <div class="btn-wrap">
            <button class="btn-quick-reply" id="Admission">Admission</button>
            <button class="btn-quick-reply" id="Hostel">Hostel</button>
            <button class="btn-quick-reply" id="Scholarship">
              Scholarship
            </button>
            <button class="btn-quick-reply" id="Library">Library</button>
            <button class="btn-quick-reply" id="Courses">Courses</button>
          </div>
        </div>
        <form action="#" class="typing-area">
          <input type="text" class="incoming_id" name="" value="" hidden />
          <input
            type="text"
            name="message"
            class="input-field"
            placeholder="Type a message here..."
            autocomplete="off"
          />
          <button><i class="fab fa-telegram-plane"></i></button>
        </form>
      </section>
    </div>
    <script src="/static/javascript/chatting.js"></script>
  </body>
</html>
